.conteiner { background-color: black;
width: 1900px;
height: 100px;
display: flex;
}


.two { width: 200px;
height: 90px;
background-color: green;}
.thre { width: 100px;
height: 90px;
background-color: yellow;}
.one { width: 200px;
height: 90px; background-color: crimson;}
